extends ./templates/main.pug

block var
    - var title = 'Корзина'
    - var page = 'basket'
    - var url = '/basket'
block content
    .main-basket
            button.main-basket__button-reset#button-reset Очистить корзину
            ul.main-basket__products.products#products
                //- each item in products
                //-     - var { _id, name, price, priceIntl, category, rating } = item
                //-     li.products__item.product(data-id=_id  data-name=name data-price=price data-category=category)
                //-         a.product__link(href= `product?id=${_id}`)
                //-             img.product__image(alt=`${category} ${name}`)
                //-         .product__rating
                //-             include ./blocks/rating-star/rating-star.pug
                //-         h1.product__name= name
                //-         span.product__price= priceIntl
                //-         button.product__button-delete Удалить
            .main-basket__form-order
                include ./blocks/form-order/form-order
            .main-basket__total.total
                span.total__caption Итого:&#32;
                span.total__sum#total-sum

