extends ./templates/main.pug

block var
    - var title = 'Товар'
    - var page = 'product'
    // TODO стилизовать
block content
    main.product-page 
        .product__pictures
            .my-slider
                .my-slider__slide 1     
                .my-slider__slide 2        
                .my-slider__slide 3
        h1.product__name= name
        p.product__price= price
        fieldset.product__rating.rating
            legend.rating__caption Рейтинг
            .rating__group.rating__group-no-clickable
                input.rating__input(type="radio" name='rating' id='rating-1' value='5' checked=rating.roundedRating  == 5 ? 'checked' : undefined)
                label.rating__star(for='rating-1')
                input.rating__input(type="radio" name='rating' id='rating-2' value='4' checked=rating.roundedRating  == 4 ? 'checked' : undefined)
                label.rating__star(for='rating-2')
                input.rating__input(type="radio" name='rating' id='rating-3' value='3' checked=rating.roundedRating  == 3 ? 'checked' : undefined)
                label.rating__star(for='rating-3')
                input.rating__input(type="radio" name='rating' id='rating-4' value='2' checked=rating.roundedRating  == 2 ? 'checked' : undefined)
                label.rating__star(for='rating-4')
                input.rating__input(type="radio" name='rating' id='rating-5' value='1' checked=rating.roundedRating  == 1 ? 'checked' : undefined)
                label.rating__star(for='rating-5')
        button.product__button-add Добавить в корзину
        fieldset.product__review.rating
            legend.rating__caption Оставить отзыв
            .rating__group            
                input.rating__input(type="radio" name='review' id='review-1' value='5')
                label.rating__star(for='review-1')
                input.rating__input(type="radio" name='review' id='review-2' value='4')
                label.rating__star(for='review-2')
                input.rating__input(type="radio" name='review' id='review-3' value='3')
                label.rating__star(for='review-3')
                input.rating__input(type="radio" name='review' id='review-4' value='2')
                label.rating__star(for='review-4')
                input.rating__input(type="radio" name='review' id='review-5' value='1')
                label.rating__star(for='review-5')
            button.review__button Оценить
        