ul.rating
    li.rating__star(data-rating=ratingCheck  == 5 ? 'true' : undefined)
    li.rating__star(data-rating=ratingCheck  == 4 ? 'true' : undefined)
    li.rating__star(data-rating=ratingCheck  == 3 ? 'true' : undefined)
    li.rating__star(data-rating=ratingCheck  == 2 ? 'true' : undefined)
    li.rating__star(data-rating=ratingCheck  == 1 ? 'true' : undefined)