ul.rating
    li.rating__star(data-rating=item.rating.roundedRating  == 5 ? 'true' : undefined)
    li.rating__star(data-rating=item.rating.roundedRating  == 4 ? 'true' : undefined)
    li.rating__star(data-rating=item.rating.roundedRating  == 3 ? 'true' : undefined)
    li.rating__star(data-rating=item.rating.roundedRating  == 2 ? 'true' : undefined)
    li.rating__star(data-rating=item.rating.roundedRating  == 1 ? 'true' : undefined)